name: Run Project
on: [push, workflow_dispatch]

jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v6

            - name: Install Dependencies
              working-directory: "04 Practice Project (Start)"
              run: npm ci
              
            - name: Lint
              working-directory: "04 Practice Project (Start)"
              run: npm run lint
              
            - name: Test
              working-directory: "04 Practice Project (Start)"
              run: npm run test
    Deploy:
        needs: [Build]
        runs-on: ubuntu-latest        
        steps:  
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install Dependencies
              working-directory: "04 Practice Project (Start)"
              run: npm ci

            - name: Build
              working-directory: "04 Practice Project (Start)"
              run: npm run build

            - name: Deploy
              run: |
                echo "Deploying to server "
                echo "Deployment Succeeded"

    Preview:
        needs: [Build, Deploy]
        runs-on: ubuntu-latest        
        steps:  
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Install Dependencies
              working-directory: "04 Practice Project (Start)"
              run: npm ci

            - name: Preview
              working-directory: "04 Practice Project (Start)"
              run: npm run preview

