name: Run Project
on: [push, workflow_dispatch]

jobs:
    Build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout

            - name: Install Dependencies
              run: npm ci
              
